* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    background-color: darkslategray;
    font-family: 'VT323', monospace;
    font-family: 'Orbitron', sans-serif;
}

div.container {
    background-color: greenyellow;
    text-align: center;
    margin: 100px 80px 0 80px;
    padding: 100px 0 100px 0;
    border: 2px solid white;
    color: darkslategray;
}

coords {
    color: darkslategray;
}

div > button {
    background-color: greenyellow;
    border: 2px solid aliceblue;
    padding: 6px;
    font-size: 40pt;
    font-family: 'VT323', monospace;
    font-family: 'Orbitron', sans-serif;
}
